/* Overall page padding */
.about-wrapper {
    display: flex;
    width: 100%;
    min-height: 100vh;
    padding: 50px;
    box-sizing: border-box;
    gap: 30px;
}

/* Left image container */
.about-image {
    width: 50%;
    height: 100%;
}

/*left section*/
.left-section {
   flex: 1;
   background-image: url(img1.jpg);
   background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
/* The image itself */
.about-image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10px; /* rounded corners */
}

/* Right-side text */
.about-text {
    width: 50%;
    padding: 40px;
    flex-direction: column;
    justify-content: flex-start;
}

.about-text h2 {
    color: #4e2d04;
    font-size: 30px;
    margin-bottom: 15px;
}

.about-text p {
    color: #444;
    line-height: 1.7;
    font-size: 16px;
}

/* Footer styling */
.main-footer {
    margin-top: 50px;
    background-color: #813d00;
    color: white;
    text-align: center;
    padding: 20px;
}
