/* PAGE */
body {
  background-color: oklch(97.356% 0.01586 58.432);
  font-family: 'Inter', sans-serif;
  margin: 0;
  overflow: hidden; /* no scroll */
}

main {
  width: 100%;
  height: 100vh;
  display: flex;
   justify-content: center;   /* center .elements horizontally in main */
  align-items: center; 
}

.elements {
  display: flex;             /* makes .left and .right side by side */
  justify-content: center;   /* aligns them horizontally */
  align-items: center;       /* aligns them vertically */
  gap: 2rem;                 /* optional spacing between them */
}

.right img {
  width: auto;
  height: 600px;
}

.left {
  width: 50vw;
  display: flex;
  flex-direction: column;
}