body {
  background-color: oklch(97.356% 0.01586 58.432);
  font-family: 'Intel One Mono', 'Clear Sans', system-ui, -apple-system, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow: hidden; /* disables both vertical and horizontal scroll */
  height: 100%;     /* ensures content fits viewport */
} 